<nav class="site-navigation position-relative text-right" role="navigation">
  <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
    <li class="active"><a href="<%= base() %>">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#">Guides</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
